.logo {
    margin-top: 15px;
    margin-bottom: 35px;

    h1 {
        // font-family: 'Pacifico', cursive;
        font-family: 'Cookie', cursive;
        font-size: 3.5rem;
        font-weight: 200;
        text-align: center;
        margin: 0;
    }
}
