@import 'styles/utils';

.user-info {
    width: 295px !important;
    margin-top: 60px;
    margin-left: auto;
    align-self: flex-start;
    box-sizing: border-box;

    .box {
        margin-top: 12px;
    }
}
