@import 'styles/utils';

.header {
    display: flex;
    align-items: center;
    height: 4.8rem;
    border-bottom: 1px solid $oc-gray-4;
    background: #fff;

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 1024px;
        height: 100%;

        .header-logo {
            margin-left: 40px;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .icon {
                font-size: 1.8rem;
            }

            .separator {
                margin: 0 15px;
                border-left: 1px solid $oc-gray-6;
                height: 28px;
            }

            .text {
                font-family: 'Cookie', sans-serif;
                font-size: 2.1rem;
                font-weight: 200;
                padding-top: 3px;
                margin: 0;
            }
        }

        .header-nav {
            margin-left: auto;
            margin-right: 40px;

            &-content {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            &-item {
                display: inline-block;
                margin-left: 2rem;

                .icon {
                    font-size: 1.5rem;
                    padding-top: 0.25rem;
                }
            }
        }

        @include media('<large') {
            .header-logo {
                margin-left: 20px;
            }

            .header-nav {
                margin-right: 20px;
            }
        }

        @include media('<small') {
            .search-bar {
                display: none;
            }
        }
    }
}
