@import 'styles/utils';

.toolbar {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icons {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        overflow: hidden;

        &.left {
            margin-right: auto;
        }

        &.right {
            margin-left: auto;
        }

        .item {
            float: left;
            margin: 8px;

            &:hover {
                cursor: pointer;
            }

            &:nth-child(1) {
                margin-left: 0;
            }
        }
    }
}
