@import 'styles/utils';

.thumbnail {
    .img {
        border: 1px solid $oc-gray-3;
        border-radius: 50%;
        box-sizing: border-box;
        overflow: hidden;

        &.md {
            width: 50px;
            height: 50px;
        }

        &.sm {
            width: 40px;
            height: 40px;
        }

        &.xs {
            width: 35px;
            height: 35px;
        }
    }
}
